@import "media-variables";

.catalog {
    display: flex;

    width: 100%;

    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: $max-catalog-width) and (min-width: $min-tablet-width) {
    .catalog {
        justify-content: space-around;
    }
}

@media (max-width: $min-tablet-width - 1px) {
    .catalog {
        flex-direction: column;
    }
}
