@import 'colors-and-backgrounds';
@import "media-variables";

$item-title-size: 48px;

$main-background: white;
$border-width: 4px;
$border-radius: $border-width * 3;

$quantity-block-radius: 81px;
$content-left-padding: 45px;
$content-right-padding: 20px;

$item-width: 320;
$item-margin: 40;

@mixin content-paddings {
    padding-right: $content-right-padding;
    padding-left: $content-left-padding;
}

@mixin corner-background($color) {
    background: linear-gradient(135deg, transparent 31px, $color 32px, $color 35px, $main-background 35px);
}

@mixin border-left($color) {
    border-left: $border-width solid $color;
}

@mixin border-right($color) {
    border-right: $border-width solid $color;
}

@mixin borders-left-right-bottom($color) {
    border-right: $border-width solid $color;
    border-bottom: $border-width solid $color;
    border-left: $border-width solid $color;
}

@mixin border-top($color) {
    border-top: $border-width solid $color;
}

@mixin color-modifiers($color) {
    .catalog-item-header__corner {
        @include corner-background($color);

        &::after {
            @include border-left($color);
        }
    }

    .catalog-item-header__text {
        @include border-top($color);
        @include border-right($color);
    }

    .catalog-item__main {
        @include borders-left-right-bottom($color);
    }

    .catalog-item-main__quantity {
        background: $color;
    }
}

.catalog-item {
    display: inline-block;

    width: $item-width * 1px;
    margin-right: $item-margin * 1px;
    margin-bottom: $item-margin * 1px;
    margin-left: $item-margin * 1px;

    color: $text-color;

    &:hover {
        @include color-modifiers($item-default-hover-color);

        .catalog-item-footer__link,
        .catalog-item-footer__link + span {
            color: $item-default-hover-color;
        }

        .catalog-item-footer__link {
            border-bottom-color: $item-default-hover-color;
        }
    }
}

.catalog-item__header {
    position: relative;

    display: flex;

    cursor: pointer;

    align-items: stretch;
}

.catalog-item-header__corner {
    width: 45px;
    height: 45px;

    @include corner-background($item-default-color);

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 45px;
        height: calc(100% - 45px);

        content: '';

        background: white;

        @include border-left($item-default-color);
    }
}

.catalog-item-header__text {
    font-size: 16px;

    width: 275px;
    padding-top: 18px;
    padding-left: 4px;

    border-top-right-radius: $border-radius;
    background: $main-background;

    @include border-top($item-default-color);
    @include border-right($item-default-color);
}

.catalog-item-header__selected-hover-text {
    display: none;
}

.catalog-item__main {
    position: relative;

    display: flex;
    flex-direction: column;

    min-height: 434px;

    cursor: pointer;

    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    background: white;

    @include borders-left-right-bottom($item-default-color);
}

.catalog-item-main__title,
.catalog-item-main__subtitle,
.catalog-item-main__description {
    @include content-paddings;
}

.catalog-item-main__title,
.catalog-item-main__subtitle {
    color: $title-color;
}

.catalog-item-main__title {
    font-size: $item-title-size;
}

.catalog-item-main__subtitle {
    font-size: $item-title-size / 2;

    margin-bottom: 10px;
}

.catalog-item-main__description {
    font-size: 14px;
}

.catalog-item-main__image {
    margin-top: auto;

    border-bottom-right-radius: $border-radius - $border-width;
    border-bottom-left-radius: $border-radius - $border-width;
}

.catalog-item-main__quantity {
    font-size: 21px;
    line-height: 22px;

    position: absolute;
    right: 15px;
    bottom: 15px;

    display: flex;
    flex-direction: column;

    width: $quantity-block-radius;
    height: $quantity-block-radius;

    color: white;
    border-radius: 50%;
    background: $item-default-color;

    justify-content: center;
    align-items: center;
}

.catalog-item-main__quantity span:first-child {
    font-size: 42px;
    line-height: 37px;
}

.catalog-item__footer {
    font-size: 13px;
    line-height: 16px;

    padding-top: 14px;

    text-align: center;

    color: white;
}

.catalog-item-footer__link,
.catalog-item-footer__link + span {
    color: $item-default-color;
}

.catalog-item-footer__link {
    text-decoration: none;

    border-bottom: 1px dashed $item-default-color;
}

.catalog-item__footer-text--selected,
.catalog-item__footer-text--disabled {
    display: none;
}

.catalog-item--selected,
.catalog-item--selected-hover,
.catalog-item--selected-hover:hover  {
    @include color-modifiers($item-selected-color);

    .catalog-item__footer-text--default,
    .catalog-item__footer-text--disabled {
        display: none;
    }

    .catalog-item__footer-text--selected {
        display: block;
    }
}

.catalog-item--selected:hover {
    @include color-modifiers($item-selected-hover-color);

    .catalog-item-header__default-text {
        display: none;
    }

    .catalog-item-header__selected-hover-text {
        display: block;

        color: $item-selected-hover-color;
    }
}

.catalog-item--disabled  {
    &,
    &:hover {
        @include color-modifiers($item-disabled-color);
    }

    .catalog-item__header,
    .catalog-item__main {
        cursor: default;
    }

    .catalog-item-main__image {
        opacity: .5;
    }

    .catalog-item__footer-text--default,
    .catalog-item__footer-text--selected {
        display: none;
    }

    .catalog-item__footer-text--disabled {
        display: block;
    }
}

@media (max-width: $max-catalog-width) {
    .catalog-item {
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: $max-tablet-width) and (min-width: $min-tablet-width) {
    .catalog-item:nth-of-type(3) {
        display: block;

        margin-right: $item-margin * 1px;
        margin-left: $item-margin * 1px;
    }
}

@media (max-width: $min-tablet-width) {
    .catalog-item {
        margin-right: auto;
        margin-left: auto;
    }
}
