$blue: #1698d9;
$grey: #666666;

$page-background: #242424 url("/img/bg.jpg");
$item-main-background: white;

$link-color: $blue;
$text-color: $grey;
$title-color: #000;
$quantity-block-color: $blue;
