body {
    font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
    font-size: 14px;
}

.page-header {
    font-family: 'Exo 2', sans-serif;
    font-size: 36px;
    font-weight: 300;

    color: white;
}

@font-face {
    font-family: 'Exo 2';

    src: url('/fonts/Exo2.0-Thin.otf');
}
