doctype html
html
  head
    title= "Тестовое задание FB"
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    link(rel="stylesheet" href="/css/normalize.css")
    link(rel="stylesheet" href="/css/style.css")
  block head_end
  body
    include ../_partials/header
    .catalog
      include ../_partials/catalog-items
