doctype html
html
  head
    title= "OLA MUNDO"
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    link(rel="stylesheet" href="/css/style.css") 
  block head_end
  body
    include ../_partials/header
    block content
    include ../_partials/footer  
    script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(type="text/javascript" src="/js/script.js")
  block body_end
    